<div class="passwords-container">
    <table class="table table-striped">
        <thead>
            <th scope="col">Login</th>
            <th scope="col">Password</th>
            <th scope="col">Description</th>
            <th scope="col">Password Type</th>
        </thead>
        <tr *ngFor="let password of passwords">
            <td>{{password.login}}</td>
            <td>{{password.password}}</td>
            <td>{{password.description}}</td>
            <td>{{password.passwordType.name}}</td>
        </tr>
    </table>
</div>