$logo-container-bg-color = #eaeaea

.awesome-container
  background-color #f5f6f5
  height 100vh
  overflow-y hidden

.awesome-header
  background-color #4a90e2
  height 2em

.authtorization-form-container
  @media (min-width 0px)
    margin-top 5vh
  @media (min-width 576px)
    margin-top 10vh
  @media (min-width 768px)
    margin-top 15vh
  @media (min-width 992)
    margin-top 20vh

  background-color white
  border-radius 2px
  box-shadow 0 1px 14px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.14)

  .logo-container
    padding 1em 0
    border-bottom solid 1px $logo-container-bg-color
    text-align center
    font-weight 500
    color #4a90e2

  .intro-text-container
    padding 1em 0
    text-align center

  .form-container
    padding 1em 1em

  .auth-button-container
    padding 1em 1em
    margin-bottom 1em
    button
      width 100%
      border none
      border-radius 5px
      background-color #4a90e2
      color white